<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>mad-skills-app</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.reactjs.native.example.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Cabin-Bold.ttf</string>
		<string>Cabin-BoldItalic.ttf</string>
		<string>Cabin-Italic.ttf</string>
		<string>Cabin-Medium.ttf</string>
		<string>Cabin-MediumItalic.ttf</string>
		<string>Cabin-Regular.ttf</string>
		<string>Cabin-SemiBold.ttf</string>
		<string>Cabin-SemiBoldItalic.ttf</string>
		<string>FiraSans-Black.ttf</string>
		<string>FiraSans-BlackItalic.ttf</string>
		<string>FiraSans-Bold.ttf</string>
		<string>FiraSans-BoldItalic.ttf</string>
		<string>FiraSans-ExtraBold.ttf</string>
		<string>FiraSans-ExtraBoldItalic.ttf</string>
		<string>FiraSans-ExtraLight.ttf</string>
		<string>FiraSans-ExtraLightItalic.ttf</string>
		<string>FiraSans-Italic.ttf</string>
		<string>FiraSans-Light.ttf</string>
		<string>FiraSans-LightItalic.ttf</string>
		<string>FiraSans-Medium.ttf</string>
		<string>FiraSans-MediumItalic.ttf</string>
		<string>FiraSans-Regular.ttf</string>
		<string>FiraSans-SemiBold.ttf</string>
		<string>FiraSans-SemiBoldItalic.ttf</string>
		<string>FiraSans-Thin.ttf</string>
		<string>FiraSans-ThinItalic.ttf</string>
		<string>LibreFranklin-Black.ttf</string>
		<string>LibreFranklin-BlackItalic.ttf</string>
		<string>LibreFranklin-Bold.ttf</string>
		<string>LibreFranklin-BoldItalic.ttf</string>
		<string>LibreFranklin-ExtraBold.ttf</string>
		<string>LibreFranklin-ExtraBoldItalic.ttf</string>
		<string>LibreFranklin-ExtraLight.ttf</string>
		<string>LibreFranklin-ExtraLightItalic.ttf</string>
		<string>LibreFranklin-Italic.ttf</string>
		<string>LibreFranklin-Light.ttf</string>
		<string>LibreFranklin-LightItalic.ttf</string>
		<string>LibreFranklin-Medium.ttf</string>
		<string>LibreFranklin-MediumItalic.ttf</string>
		<string>LibreFranklin-Regular.ttf</string>
		<string>LibreFranklin-SemiBold.ttf</string>
		<string>LibreFranklin-SemiBoldItalic.ttf</string>
		<string>LibreFranklin-Thin.ttf</string>
		<string>LibreFranklin-ThinItalic.ttf</string>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>SourceSansPro-Black.ttf</string>
		<string>SourceSansPro-BlackItalic.ttf</string>
		<string>SourceSansPro-Bold.ttf</string>
		<string>SourceSansPro-BoldItalic.ttf</string>
		<string>SourceSansPro-ExtraLight.ttf</string>
		<string>SourceSansPro-ExtraLightItalic.ttf</string>
		<string>SourceSansPro-Italic.ttf</string>
		<string>SourceSansPro-Light.ttf</string>
		<string>SourceSansPro-LightItalic.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-SemiBold.ttf</string>
		<string>SourceSansPro-SemiBoldItalic.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
</dict>
</plist>
